#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Byte compiled python modules.
*.pyc
# vim swap files
.*.swp

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
cscope.files
cscope.out

# jrk
.DS_Store
Debug+Asserts
include/clang/*/*.inc
lib/Headers/arm_neon.h.inc
lib/StaticAnalyzer/Checkers/Checkers.inc
configure.out
docs/doxygen.cfg
docs/html.tar.gz
docs/tools/clang.1
docs/tools/clang.html
docs/tools/clang.ps
docs/tools/pod2htmd.tmp
docs/tools/pod2htmi.tmp
